@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    --azul: #4771a3;
    --roxo: #77779d;
    --lilas: #b998b3;
    --rosa: #ffccd4d3;
    --amarelo: #f6ecbed3;
    --vermelho: #ff0000;
    --branco: #fefefe;
}
body{
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: var(--lilas);

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;

    padding: 10px;
}
ul{
    margin: 0 !important;
    padding-right: 10px;
}
.menu-links{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    gap: 12px;
    list-style-type: none;
    color: var(--branco);

    cursor: pointer;
}

.link-menu{
    text-decoration: none;
    color: var(--branco);
}
.link-menu:hover{
    text-decoration: none;
    color: var(--branco);
}
.imagem-logo{
    width: 50px;
    height: 50px;

    border-radius:30px;
}

.imagem-carrosel{
    
    object-fit: cover;
    object-position: 50% 80%; /* try 20% 10% */ 
    height: 550px;
}
.imagem-carrosel-2{
    object-fit: cover;
    object-position: 50% 50%; /* try 20% 10% */ 
    height: 550px;
}
h3{
    font-family: 'Pacifico', cursive;   
    color: var(--branco);
    margin-left: 10px;
}

.corpo{
    display: flex;
    flex-direction: column;
    background-color: var(--amarelo);
}

.produtos{
    background-color: var(--rosa);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    padding-left: 50px;
    padding-right: 50px;

    padding-top: 20px;
    padding-bottom: 20px;
}
.sobre-nos{
    background-color: var(--amarelo);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    padding-left: 50px;
    padding-right: 50px;

    padding-top: 20px;
    padding-bottom: 20px;
}
.quizz{
    background-color: var(--rosa);
    border-top-left-radius: 20px;
}

body::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
background: transparent        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
background-color: rgb(135, 135, 135);    /* color of the scroll thumb */
border-radius: 30px;       /* roundness of the scroll thumb */
}

h4{
    font-family: 'Pacifico', cursive; 
    color:var(--vermelho);
}

.lista-produtos{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.produto-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--branco);

    height: 145px;
    margin-bottom: 15px;
    border-radius: 10px;

    box-shadow:0px 10px 10px rgba(135, 135, 135, 0.497)
}

.imagem-produto{
    width: 85%;

    object-fit: cover;
    object-position: 20% 40%; /* try 20% 10% */ 
    height: 100px;

    border-radius: 10px;
}

.produto-item:hover{
    box-shadow:0px 10px 10px rgb(135, 135, 135);
    cursor: pointer;
}
.descricao-produto{
    font-family: 'Poppins', sans-serif;
}